IndexOptions +Charset=UTF-8
Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} api\.tezaurs\.lv [NC]
RewriteCond %{REQUEST_URI} ^/$
Rewriterule ^(.*)$ http://api.tezaurs.lv/api.html [L,R=301]
